<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RAD_CSharp_Role_Exercise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RAD_CSharp_Role_Exercise.Properties.Settings>
            <setting name="Portfolios" serializeAs="String">
                <value>100,110,155</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>C:\C#Test\PortfolioPayments.csv</value>
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value>https://focus.interview/api/v1.0/payments/</value>
            </setting>
        </RAD_CSharp_Role_Exercise.Properties.Settings>
    </userSettings>
</configuration>